header {

  font-family: $secondary-font;

  .navbar-dark{
    background-color: $primary-color;
      .navbar-brand{
        padding: 0 0 0.2rem 0;
      }
  }
  .navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    outline: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
  }
  
  .navbar-toggler-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: none;
    appearance: none;
    cursor: pointer;
  
    &,
    span {
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box;
    }
  
    span {
      position: absolute;
      left: 5px;
      width: 80%;
      height: 2px;
      background-color: $third-color;
      border-radius: 1px;
  
      &:nth-of-type(1) {
        top: 8px;
      }
      &:nth-of-type(2) {
        top: 20px;
      }
      &:nth-of-type(3) {
        top: 32px;
      }
    }
  }
  
  .navbar-toggler[aria-expanded='true'] {
    span.navbar-toggler-icon {
      span {
        &:nth-of-type(1) {
          transform: translateY(12px) rotate(-315deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-12px) rotate(315deg);
        }
      }
    }
  }
  .navbar-nav{
    text-align: left;
  }
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../image/header/mainVisual-matcha.jpg);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 5rem;
  text-align: center;
  padding: 15rem 0;
    .home-title{
      margin: 0 auto 1.5rem auto;
      border-bottom: solid 1px $primary-color;
      width: 80%;
      h1 {
        font-family: $primary-font;
        color: $third-color;
        margin: 0 0 0.5em 0;
        letter-spacing: 1.5rem;
      }
    }
    p {
      font-family: $secondary-font;
      color: $third-color;
      margin: 0 auto;
      padding: 0 2em 2em 2em;
    }
    button {
      @extend %button;
    }
}

@media screen and (max-width: $smartphone-window-size) {
  #home{
    .home-title {
      h1 {
        font-size: 1.5rem;
      }
    p {
      font-size: 0.8rem;
    }
  }
}
}