.review{
    // background:#FEFAE0; 
    background-color: $secondary-color;
    font-family: $secondary-font;
    h1, h2 {
        font-family: $primary-font;
    }
    .wrapper {
        text-align:center;
        padding: 70px 0;
        h1 {
            padding: 1rem;
        }
    }
}

.slider{
    width:90%;
    margin:0 auto;
    padding: 3rem 0;
    .review-part{
        display: flex;
        img{
            width:50%;
            margin: 0 25%;
        }
        p{
            text-align: start;
            width: 50%;
            margin: 0 25%;
        }
    }
}
.slider .slick-slide{
    height:auto!important;
}

/* ------------------------------
    loopSlider
------------------------------ */
.loopSliderWrap {
	top: 0;
	left: 0;
	width: 100px;
	overflow: hidden;
	position: absolute;
}

.loopSlider {
	margin: 0 auto;
	width: 100px;
	height: 500px;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.loopSlider ul {
	width: 100px;
	overflow: hidden;
}

.loopSlider ul li {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

//tablet-windows-size
@media screen and (max-width: 1007px){
}
//smartphone-window-size
@media screen and (max-width: 640px){
}


