:root {
  font-family: "Yuji Syuku";
  font-size: 20px;
}
@media screen and (max-width: 1007px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    font-size: 16px;
  }
}

.contact .contact-us form button {
  border: none;
  width: 8rem;
  height: 2rem;
  color: #FEFAE0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #CCD5AE;
  cursor: pointer;
}
.contact .contact-us form button:hover {
  border: solid 3px #CCD5AE;
  color: #CCD5AE;
  background-color: #FEFAE0;
  transition: all 0.5s;
}

.contact {
  font-family: "Yuji Syuku";
  background-color: #FEFAE0;
  padding: 3rem 0 0 0;
}
.contact h1 {
  font-family: "Zen Kurenaido";
  text-align: center;
  align-items: center;
}
.contact .contact-us {
  width: 100%;
  display: flex;
  padding: 0 3rem;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us {
    flex-direction: column;
  }
}
.contact .contact-us form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.contact .contact-us form label {
  width: 100%;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}
.contact .contact-us form label:hover {
  color: #CCD5AE;
  transition: all 0.5s;
}
.contact .contact-us form label:focus {
  color: #CCD5AE;
}
.contact .contact-us form i {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
.contact .contact-us form input {
  width: calc(100% - 3rem);
  border: none;
  border-bottom: solid 2px;
  background-color: #FEFAE0;
  height: 3rem;
}
.contact .contact-us form input:hover {
  border-bottom: solid 2px #CCD5AE;
  transition: all 0.5s;
}
.contact .contact-us form input:focus {
  border-bottom: solid 2px #CCD5AE;
  outline: none;
}
.contact .contact-us form input:focus::-moz-placeholder {
  color: #CCD5AE;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .contact-us form input:focus::placeholder {
  color: #CCD5AE;
  transition: all 0.5s;
}
.contact .contact-us form textarea {
  width: calc(100% - 3rem);
  border: none;
  border-bottom: solid 2px;
  background-color: #FEFAE0;
  margin-left: 3rem;
  height: 5rem;
  resize: none;
}
.contact .contact-us form textarea:hover {
  border-bottom: solid 2px #CCD5AE;
  transition: all 0.5s;
}
.contact .contact-us form textarea:focus {
  border-bottom: solid 2px #CCD5AE;
  outline: solid 2px #CCD5AE;
  border-bottom: none;
  border-radius: 5px;
  transition: all 0.5s;
}
.contact .contact-us form textarea:focus::-moz-placeholder {
  color: #CCD5AE;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .contact-us form textarea:focus::placeholder {
  color: #CCD5AE;
  transition: all 0.5s;
}
.contact .contact-us .info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  padding: 1rem;
  justify-content: space-between;
}
.contact .contact-us .info .contact-details {
  flex-basis: 10%;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .contact-details {
    flex-basis: 30%;
    flex-direction: column;
  }
}
.contact .contact-us .info .contact-details-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .contact-details-item {
    margin-bottom: 1rem;
  }
}
.contact .contact-us .info .contact-details-item i {
  width: 1rem;
  height: 1rem;
}
.contact .contact-us .info .contact-details-item p {
  font-size: 0.8rem;
  margin: 0 1rem 0 0.5rem;
}
.contact .contact-us .info .contact-details-for-sp {
  display: flex;
}
@media screen and (max-width: 640px) {
  .contact .contact-us .info .contact-details-for-sp {
    flex-direction: column;
  }
}
.contact .contact-us .info .map {
  flex-basis: 90%;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .map {
    flex-basis: 70%;
  }
}
.contact .contact-us .info .map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .map iframe {
    height: 45vh;
  }
}
.contact .social-media {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CCD5AE;
}
@media screen and (max-width: 640px) {
  .contact .social-media {
    flex-direction: column;
  }
}
.contact .social-media p {
  color: #FEFAE0;
  margin: 0;
}
@media screen and (max-width: 640px) {
  .contact .social-media p {
    margin-bottom: 1rem;
  }
}
.contact .social-media-links {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 640px) {
  .contact .social-media-links {
    width: 50vw;
  }
}
.contact .social-media-links i {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #FEFAE0;
  cursor: pointer;
}
.contact .social-media-links i:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s;
}
/*# sourceMappingURL=contact.css.map */