header {
  background-image: url(mainVisual-matcha.jpg);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 5rem;
}

#header-mainVisual {
  text-align: center;
  padding: 30px 0;
}

:root {
  font-family: sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 1007px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    font-size: 16px;
  }
}

.contact {
  height: 100vh;
  padding: 3rem 0;
}
.contact h1 {
  text-align: center;
  align-items: center;
}
.contact .contact-us {
  width: 100%;
  display: flex;
  padding: 0 3rem;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us {
    flex-direction: column;
  }
}
.contact .contact-us form {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.contact .contact-us form .contact-us-item {
  width: 100%;
  margin-bottom: 1.5rem;
  white-space: nowrap;
}
.contact .contact-us form input, .contact .contact-us form textarea {
  width: calc(100% - 3rem);
  border: none;
  border-bottom: solid 1px;
}
.contact .contact-us form i {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}
.contact .contact-us form input {
  height: 3rem;
}
.contact .contact-us form textarea {
  margin-left: 3rem;
  height: 5rem;
}
.contact .contact-us form button {
  width: 8rem;
  height: 2rem;
  background-color: #CCD5AE;
  color: #FEFAE0;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.contact .contact-us .info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  padding: 1rem;
  justify-content: space-between;
}
.contact .contact-us .info .contact-details {
  flex-basis: 10%;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .contact-details {
    flex-direction: column;
  }
}
.contact .contact-us .info .contact-details-for-sp {
  display: flex;
}
@media screen and (max-width: 640px) {
  .contact .contact-us .info .contact-details-for-sp {
    flex-direction: column;
  }
}
.contact .contact-us .info .contact-details-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .contact-details-item {
    margin-bottom: 1rem;
  }
}
.contact .contact-us .info .contact-details-item i {
  width: 1rem;
  height: 1rem;
}
.contact .contact-us .info .contact-details-item p {
  font-size: 0.7rem;
  margin: 0 1rem 0 0.5rem;
}
.contact .contact-us .info .map {
  flex-basis: 90%;
}
.contact .contact-us .info .map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1007px) {
  .contact .contact-us .info .map iframe {
    height: 45vh;
  }
}
.contact .social-media {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CCD5AE;
}
@media screen and (max-width: 640px) {
  .contact .social-media {
    flex-direction: column;
  }
}
.contact .social-media p {
  color: #FEFAE0;
  margin: 0;
}
.contact .social-media-links {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 640px) {
  .contact .social-media-links {
    width: 50vw;
  }
}
.contact .social-media-links i {
  width: 1.5rem;
  height: 1.5rem;
  color: #FEFAE0;
  cursor: pointer;
}
/*# sourceMappingURL=contact.css.map */