// @use './variables.scss' as v;
@import "./variables.scss";

.contact {
    // height: 100vh;
    background-color: $third-color;
    padding: 3rem 0 0 0;
    h1 {
        text-align: center;
        align-items: center;
    }
    .contact-us {
        width: 100%;
        display: flex;
        padding: 0 3rem;
        @media screen and (max-width: $tablet-window-size) {
            flex-direction: column;
        }
        form {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            label {
                width: 100%;
                margin-bottom: 1.5rem;
                white-space: nowrap;
                &:hover {
                    color: $primary-color;
                    transition: all 0.5s;
                }
            }
            input, textarea {
                width: calc(100% - 3rem);
                border: none;
                border-bottom: solid 2px;
                background-color: $third-color;
            }
            input:hover, textarea:hover {
                border-bottom: solid 2px $primary-color;
            }
            input:focus, textarea:focus {
                border-bottom: none;
                outline: solid 2px $primary-color;
                border-radius: 5px;
            }
            i {
                width: 3rem;
                height: 3rem;
                font-size: 2rem;
            }
            input {
                height: 3rem;
            }
            textarea {
                margin-left: 3rem;
                height: 5rem;
                resize: none;
            }
            button {
                @extend %button;
            }
        }
        .info {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 70vh;
            padding: 1rem;
            justify-content: space-between;
            .contact-details {
                flex-basis: 10%;
                width: 100%;
                height: 3rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                @media screen and (max-width: $tablet-window-size) {
                    flex-basis: 30%;
                    flex-direction: column;
                }
                &-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                    @media screen and (max-width: $tablet-window-size) {
                        margin-bottom: 1rem;
                    }
                    i {
                        width: 1rem;
                        height: 1rem;
                    }
                    p {
                        font-size: 0.7rem;
                        margin: 0 1rem 0 0.5rem;
                        @media screen and (max-width: $tablet-window-size) {
                            font-size: 1rem;
                        }
                    }
                }
                &-for-sp {
                    display: flex;
                    @media screen and (max-width: $smartphone-window-size) {
                        flex-direction: column;
                    }
                }
            }
            .map {
                flex-basis: 90%;
                @media screen and (max-width: $tablet-window-size) {
                    flex-basis: 70%;
                }
                iframe {
                    width: 100%;
                    height: 100%;
                    @media screen and (max-width: $tablet-window-size) {
                        height: 45vh;
                    }
                }
            }
        }
    }
    .social-media {
        // height: 10vh;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $primary-color;
        @media screen and (max-width: $smartphone-window-size) {
            flex-direction: column;
        }
        p {
            color: $third-color;
            margin: 0;
            @media screen and (max-width: $smartphone-window-size) {
                margin-bottom: 1rem;
            }
        }
        &-links {
            width: 20vw;
            display: flex;
            justify-content: space-evenly;
            @media screen and (max-width: $smartphone-window-size) {
                width: 50vw;
            }
            i {
                width: 1.5rem;
                height: 1.5rem;
                color: $third-color;
                cursor: pointer;
                &:hover {
                    transform: scale(1.5, 1.5);
                    transition: all 0.5s;
                }
            }
        }
    }
}