@import "variables.scss";

header {
  background-image: url(../image/header/mainVisual-matcha.jpg);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 5rem;
    .navbar-dark{
      background-color: $primary-color;
        .navbar-brand{
          padding: 0 0 0.2rem 0;
        }
    }
}

#header-mainVisual {
  text-align: center;
  padding: 10rem 0;
    h1 {
      font-family: $primary-font;
      color: $third-color;
    }
}