@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");
:root {
  font-family: "Yuji Syuku";
  font-size: 20px; }
  @media screen and (max-width: 1007px) {
    :root {
      font-size: 18px; } }
  @media screen and (max-width: 640px) {
    :root {
      font-size: 16px; } }

#home button, .contact .contact-us form button {
  border: none;
  width: 8rem;
  height: 2rem;
  color: #FEFAE0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #CCD5AE;
  cursor: pointer;
  font-family: "Zen Kurenaido"; }
  #home button:hover, .contact .contact-us form button:hover {
    border: solid 3px #CCD5AE;
    color: #CCD5AE;
    background-color: #FEFAE0;
    transition: all 0.5s; }

header {
  font-family: "Yuji Syuku"; }
  header .navbar-dark {
    background-color: #CCD5AE; }
    header .navbar-dark .navbar-brand {
      padding: 0 0 0.2rem 0; }
  header .navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    outline: none; }
  header .navbar-toggler:focus {
    box-shadow: none; }
  header .navbar-dark .navbar-toggler-icon {
    background-image: none; }
  header .navbar-toggler-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: none;
    appearance: none;
    cursor: pointer; }
    header .navbar-toggler-icon,
    header .navbar-toggler-icon span {
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box; }
    header .navbar-toggler-icon span {
      position: absolute;
      left: 5px;
      width: 80%;
      height: 2px;
      background-color: #FEFAE0;
      border-radius: 1px; }
      header .navbar-toggler-icon span:nth-of-type(1) {
        top: 8px; }
      header .navbar-toggler-icon span:nth-of-type(2) {
        top: 20px; }
      header .navbar-toggler-icon span:nth-of-type(3) {
        top: 32px; }
  header .navbar-toggler[aria-expanded='true'] span.navbar-toggler-icon span:nth-of-type(1) {
    transform: translateY(12px) rotate(-315deg); }
  header .navbar-toggler[aria-expanded='true'] span.navbar-toggler-icon span:nth-of-type(2) {
    opacity: 0; }
  header .navbar-toggler[aria-expanded='true'] span.navbar-toggler-icon span:nth-of-type(3) {
    transform: translateY(-12px) rotate(315deg); }
  header .navbar-nav {
    text-align: left; }

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/header/mainVisual-matcha.jpg);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  padding: 5rem;
  text-align: center;
  padding: 15rem 0; }
  #home .home-title {
    margin: 0 auto 1.5rem auto;
    border-bottom: solid 1px #CCD5AE;
    width: 80%; }
    #home .home-title h1 {
      font-family: "Zen Kurenaido";
      color: #FEFAE0;
      margin: 0 0 0.5em 0;
      letter-spacing: 1.5rem; }
  #home p {
    font-family: "Yuji Syuku";
    color: #FEFAE0;
    margin: 0 auto;
    padding: 0 2em 2em 2em; }

@media screen and (max-width: 640px) {
  #home .home-title h1 {
    font-size: 1.5rem; }
  #home .home-title p {
    font-size: 0.8rem; } }

.features {
  background-color: #E9EDC9;
  text-align: center;
  padding: 3rem; }
  .features h1, .features h5 {
    font-family: "Zen Kurenaido"; }
  .features h1 {
    padding: 2rem 0; }
  .features p {
    color: gray;
    font-size: 0.8rem;
    font-family: "Yuji Syuku"; }
  .features > p {
    padding: 2rem 10rem; }
  .features .feature_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem; }
    .features .feature_description .feature_detail {
      width: 30%; }
      .features .feature_description .feature_detail img {
        width: 10rem;
        border-radius: 50%; }
      .features .feature_description .feature_detail h5 {
        padding: 0.8rem;
        font-weight: 700; }
      .features .feature_description .feature_detail p {
        padding: 0 0.5rem; }
  @media screen and (max-width: 1007px) {
    .features p {
      font-size: 1rem; }
    .features > p {
      padding: 0 3rem; }
    .features .feature_description .feature_detail img {
      width: 8rem; } }
  @media screen and (max-width: 640px) {
    .features h5 {
      font-size: 2rem; }
    .features > p {
      padding: 0; }
    .features .feature_description {
      flex-direction: column; }
      .features .feature_description .feature_detail {
        width: auto; }
        .features .feature_description .feature_detail img {
          width: 50%;
          padding: 1rem 0; } }

.fade_up {
  animation-name: FadeUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  animation-fill-mode: forwards; }

.is_target {
  opacity: 0;
  opacity: 0; }

@keyframes FadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.menu {
  background-color: #FEFAE0;
  text-align: center;
  padding: 3rem; }
  .menu h1, .menu h5 {
    font-family: "Zen Kurenaido"; }
  .menu h1 {
    padding-top: 1.5rem; }
  .menu p {
    color: gray;
    font-size: 0.8rem;
    font-family: "Yuji Syuku"; }
  .menu .menu_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0; }
    .menu .menu_cards .menu_full_width, .menu .menu_cards .menu_half_width {
      width: 30%;
      margin: 1rem 0; }
      .menu .menu_cards .menu_full_width img, .menu .menu_cards .menu_half_width img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover; }
      .menu .menu_cards .menu_full_width h5, .menu .menu_cards .menu_half_width h5 {
        margin: 1rem auto; }
      .menu .menu_cards .menu_full_width p, .menu .menu_cards .menu_half_width p {
        padding: 0.5rem 1rem; }
      .menu .menu_cards .menu_full_width:hover, .menu .menu_cards .menu_half_width:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
      .menu .menu_cards .menu_full_width:hover h5, .menu .menu_cards .menu_full_width:hover p, .menu .menu_cards .menu_half_width:hover h5, .menu .menu_cards .menu_half_width:hover p {
        color: #D4A373; }
    @media screen and (max-width: 1007px) {
      .menu .menu_cards .menu_half_width {
        width: 45%; }
      .menu .menu_cards .menu_full_width {
        width: 100%; } }
    @media screen and (max-width: 640px) {
      .menu .menu_cards .menu_full_width, .menu .menu_cards .menu_half_width {
        width: 100%; }
        .menu .menu_cards .menu_full_width p, .menu .menu_cards .menu_half_width p {
          font-size: 1rem; } }

.review {
  background-color: #E9EDC9;
  font-family: "Yuji Syuku"; }
  .review h1, .review h2 {
    font-family: "Zen Kurenaido"; }
  .review .wrapper {
    text-align: center;
    padding: 70px 0; }
    .review .wrapper h1 {
      padding: 1rem; }

.slider {
  width: 90%;
  margin: 0 auto;
  width: 100%; }

#ticKer ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

#ticKer li {
  list-style-type: none;
  line-height: 2.5em;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  text-align: left; }

#ulArea {
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row .review-img {
    flex: 0 0 50%;
    max-width: 100%; }
    .row .review-img img {
      width: 90%; }
  .row .review-comment {
    flex: 0 0 50%;
    position: relative;
    max-width: 100%; }

@media screen and (max-width: 1007px) {
  .review-img {
    flex: 0 0 50%;
    max-width: 60%; }
  .review-comment {
    flex: 0 0 50%;
    position: relative;
    max-width: 40%; } }

@media screen and (max-width: 640px) {
  .review-img {
    flex: 0 0 50%;
    max-width: 100%; }
    .review-img img {
      width: 100%; }
  .review-comment {
    flex: 0 0 50%;
    position: relative;
    line-height: 1.4;
    max-width: 100%; } }

.contact {
  font-family: "Yuji Syuku";
  background-color: #FEFAE0;
  padding: 3rem 0 0 0;
  font-family: "Yuji Syuku"; }
  .contact h1 {
    font-family: "Zen Kurenaido";
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    font-family: "Zen Kurenaido"; }
  .contact .contact-us {
    width: 100%;
    display: flex;
    padding: 0 3rem; }
    @media screen and (max-width: 1007px) {
      .contact .contact-us {
        flex-direction: column; } }
    .contact .contact-us form {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem; }
      .contact .contact-us form label {
        width: 100%;
        margin-bottom: 1.5rem;
        white-space: nowrap; }
        .contact .contact-us form label:hover {
          color: #CCD5AE;
          transition: all 0.5s; }
        .contact .contact-us form label:focus {
          color: #CCD5AE; }
      .contact .contact-us form i {
        width: 3rem;
        height: 3rem;
        font-size: 2rem; }
      .contact .contact-us form input {
        width: calc(100% - 3rem);
        border: none;
        border-bottom: solid 2px;
        background-color: #FEFAE0;
        height: 3rem; }
        .contact .contact-us form input:hover {
          border-bottom: solid 2px #CCD5AE;
          transition: all 0.5s; }
        .contact .contact-us form input:focus {
          border-bottom: solid 2px #CCD5AE;
          outline: none; }
          .contact .contact-us form input:focus::placeholder {
            color: #CCD5AE;
            transition: all 0.5s; }
      .contact .contact-us form textarea {
        width: calc(100% - 3rem);
        border: none;
        border-bottom: solid 2px;
        background-color: #FEFAE0;
        margin-left: 3rem;
        height: 5rem;
        resize: none; }
        .contact .contact-us form textarea:hover {
          border-bottom: solid 2px #CCD5AE;
          transition: all 0.5s; }
        .contact .contact-us form textarea:focus {
          border-bottom: solid 2px #CCD5AE;
          outline: solid 2px #CCD5AE;
          border-bottom: none;
          border-radius: 5px;
          transition: all 0.5s; }
          .contact .contact-us form textarea:focus::placeholder {
            color: #CCD5AE;
            transition: all 0.5s; }
    .contact .contact-us .info {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70vh;
      padding: 1rem;
      justify-content: space-between; }
      .contact .contact-us .info .contact-details {
        flex-basis: 10%;
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center; }
        @media screen and (max-width: 1007px) {
          .contact .contact-us .info .contact-details {
            flex-basis: 30%;
            flex-direction: column; } }
        .contact .contact-us .info .contact-details-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          white-space: nowrap; }
          @media screen and (max-width: 1007px) {
            .contact .contact-us .info .contact-details-item {
              margin-bottom: 1rem; } }
          .contact .contact-us .info .contact-details-item i {
            width: 1rem;
            height: 1rem; }
          .contact .contact-us .info .contact-details-item p {
            font-size: 0.8rem;
            margin: 0 1rem 0 0.5rem; }
        .contact .contact-us .info .contact-details-for-sp {
          display: flex; }
          @media screen and (max-width: 640px) {
            .contact .contact-us .info .contact-details-for-sp {
              flex-direction: column; } }
      .contact .contact-us .info .map {
        flex-basis: 90%; }
        @media screen and (max-width: 1007px) {
          .contact .contact-us .info .map {
            flex-basis: 70%; } }
        .contact .contact-us .info .map iframe {
          width: 100%;
          height: 100%; }
          @media screen and (max-width: 1007px) {
            .contact .contact-us .info .map iframe {
              height: 45vh; } }
  .contact .social-media {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CCD5AE; }
    @media screen and (max-width: 640px) {
      .contact .social-media {
        flex-direction: column; } }
    .contact .social-media p {
      color: #FEFAE0;
      margin: 0; }
      @media screen and (max-width: 640px) {
        .contact .social-media p {
          margin-bottom: 1rem; } }
    .contact .social-media-links {
      width: 20vw;
      display: flex;
      justify-content: space-evenly; }
      @media screen and (max-width: 640px) {
        .contact .social-media-links {
          width: 50vw; } }
      .contact .social-media-links i {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        color: #FEFAE0;
        cursor: pointer; }
        .contact .social-media-links i:hover {
          transform: scale(1.5, 1.5);
          transition: all 0.5s; }

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0; }
  footer * {
    font-family: "Yuji Syuku"; }
  footer .footer_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0; }
    footer .footer_contents > * {
      width: 20%; }
      footer .footer_contents > * h6 {
        text-decoration: underline 1px #CCD5AE;
        text-underline-offset: 0.5rem; }
      footer .footer_contents > * p {
        font-size: 0.8rem;
        line-height: 1.5; }
      footer .footer_contents > * ul {
        list-style-type: none;
        padding: 0; }
        footer .footer_contents > * ul li {
          font-size: 0.8rem;
          padding: 0.5rem 0;
          overflow-wrap: break-word; }
          footer .footer_contents > * ul li a {
            text-decoration: none;
            color: #fff; }
    @media screen and (max-width: 640px) {
      footer .footer_contents {
        flex-direction: column;
        justify-content: center; }
        footer .footer_contents > * {
          width: 100%;
          text-align: center;
          padding: 1rem 4rem; }
          footer .footer_contents > * h6 {
            margin: 2rem 0; }
          footer .footer_contents > * p {
            font-size: 1rem; }
          footer .footer_contents > * ul li {
            font-size: 1rem; } }
  footer .copy_right {
    background-color: #000;
    text-align: center;
    padding: 1rem 0; }
    footer .copy_right p {
      margin: 0;
      font-size: 0.8rem; }
