$primary-font: sans-serif;
$secondary-font: sans-serif;
$primary-color: #CCD5AE;
$secondary-color: #E9EDC9;
$third-color: #FEFAE0;
$fourth-color: #FAEDCD;
$fifth-color: #D4A373;
$black-color: #000;
$smartphone-window-size: 640px;
$tablet-windows-size: 1007px;
$laptop-font-size: 20px;
$tablet-font-size: 18px;
$smartphone-font-size: 16px;