// $primary-font
// $secondary-font
// $primary-color
$secondary-color: black;
$background-color: #FEFAE0;
$smartphone-window-size: 640px;
$tablet-windows-size: 1007px;
$laptop-font-size: 20px;
$tablet-font-size: 18px;
$smartphone-font-size: 16px;