$primary-font: sans-serif;
$secondary-font: sans-serif;
$primary-color: #CCD5AE;
$secondary-color: #E9EDC9;
$third-color: #FEFAE0;
$fourth-color: #FAEDCD;
$fifth-color: #D4A373;
$black-color: #000;
$smartphone-window-size: 640px;
$tablet-window-size: 1007px;
$laptop-font-size: 20px;
$tablet-font-size: 18px;
$smartphone-font-size: 16px;

:root {
    font-family: $secondary-font;
    font-size: $laptop-font-size;
    @media screen and (max-width: $tablet-window-size) {
        font-size: $tablet-font-size;
    }
    @media screen and (max-width: $smartphone-window-size) {
        font-size: $smartphone-font-size;
    }
}

%button {
    border: none;
    width: 8rem;
    height: 2rem;
    color: $third-color;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background-color: $primary-color;
    cursor: pointer;
    &:hover {
        border: solid 3px $primary-color;
        color: $primary-color;
        background-color: $third-color;
        transition: all 0.5s;
    }
}